.button {
  border-radius: 28px;
  background: #ffffff;
  color: #181818;
  padding: 10px 20px 10px 20px;
  border: solid #181818 2px;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}
.alive {
  background: #ffffff;
  color: #181818;
  border: solid #181818 2px;
}
.ghost {
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: solid #fff 2px;
}
