@import "../../styles/colors.scss";

.signin {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.signinButton {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signinDescription {
  color: $textGrey;
}

.signout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-weight: bold;
  color: $textGrey;
}
