@import "../../styles/colors.scss";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $textGrey;
  border-top: 1px solid $grey;
  padding: 0.25rem 0;
}
.link {
  padding: 0;
  margin: 0.25rem;
}
.main {
  font-size: 1rem;
}
.secondary {
  font-size: 0.75rem;
  a {
    color: $textGrey;
  }
}
