@import "../../styles/colors.scss";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.input {
  padding: 10px 20px 10px 20px;
  border-radius: 28px;
  width: 100%;
  &:focus {
    outline: none;
  }
  background-color: $white;
  color: $black;
  box-sizing: border-box;
}
